langchain==0.2.10
langchain-core==0.2.24
langchain-openai==0.1.19
langchain-community==0.2.9
langchain-text-splitters==0.2.2
chromadb==0.5.3
sentence-transformers==2.7.0
fastapi==0.111.0
uvicorn==0.30.0
peft==0.11.1
transformers==4.44.2
torch==2.4.0
trl==0.9.6
accelerate==0.33.0